@font-face {
    font-family: 'verizon-icons';
    src:  url('//respframework.verizon.com/fonts/verizon-icons/fonts/verizon-icons.eot?i9qzlp');
    src:  url('//respframework.verizon.com/fonts/verizon-icons/fonts/verizon-icons.eot?i9qzlp#iefix') format('embedded-opentype'),
      url('//respframework.verizon.com/fonts/verizon-icons/fonts/verizon-icons.ttf?i9qzlp') format('truetype'),
      url('//respframework.verizon.com/fonts/verizon-icons/fonts/verizon-icons.woff?i9qzlp') format('woff'),
      url('//respframework.verizon.com/fonts/verizon-icons/fonts/verizon-icons.svg?i9qzlp#verizon-icons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  .Icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'verizon-icons', sans-serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .Icon--accessibility:before {
    content: "\e900";
  }
  .Icon--add-folder:before {
    content: "\e901";
  }
  .Icon--add-to-favorite:before {
    content: "\e902";
  }
  .Icon--add-user:before {
    content: "\e903";
  }
  .Icon--agriculture-leaves:before {
    content: "\e904";
  }
  .Icon--agriculture-tractor:before {
    content: "\e905";
  }
  .Icon--agriculture-vineyard:before {
    content: "\e906";
  }
  .Icon--alert-notification:before {
    content: "\e907";
  }
  .Icon--alert:before {
    content: "\e908";
  }
  .Icon--announcement:before {
    content: "\e909";
  }
  .Icon--archive:before {
    content: "\e90a";
  }
  .Icon--artboard:before {
    content: "\e90b";
  }
  .Icon--asset-tracking:before {
    content: "\e90c";
  }
  .Icon--at:before {
    content: "\e90d";
  }
  .Icon--award:before {
    content: "\e90e";
  }
  .Icon--awareness:before {
    content: "\e90f";
  }
  .Icon--banking:before {
    content: "\e910";
  }
  .Icon--battery:before {
    content: "\e911";
  }
  .Icon--bill-down:before {
    content: "\e912";
  }
  .Icon--bill-up:before {
    content: "\e913";
  }
  .Icon--bluetooth:before {
    content: "\e914";
  }
  .Icon--bonus-data:before {
    content: "\e915";
  }
  .Icon--bot:before {
    content: "\e916";
  }
  .Icon--box-open:before {
    content: "\e917";
  }
  .Icon--business-continuity:before {
    content: "\e918";
  }
  .Icon--calendar:before {
    content: "\e919";
  }
  .Icon--caller-id:before {
    content: "\e91a";
  }
  .Icon--camera:before {
    content: "\e91b";
  }
  .Icon--card-scanner:before {
    content: "\e91c";
  }
  .Icon--carryover-data:before {
    content: "\e91d";
  }
  .Icon--cell-tower .path1:before {
    content: "\e91e";
    color: rgb(0, 0, 0);
  }
  .Icon--cell-tower .path2:before {
    content: "\e91f";
    margin-left: -0.6259765625em;
    color: rgb(0, 0, 0);
  }
  .Icon--cell-tower .path3:before {
    content: "\e920";
    margin-left: -0.6259765625em;
    color: rgb(0, 0, 0);
  }
  .Icon--cell-tower .path4:before {
    content: "\e921";
    margin-left: -0.6259765625em;
    color: rgb(28, 27, 26);
  }
  .Icon--chat:before {
    content: "\e922";
  }
  .Icon--checkmark_alt:before {
    content: "\e923";
  }
  .Icon--checkmark-alt:before {
    content: "\e924";
  }
  .Icon--checkmark:before {
    content: "\e925";
  }
  .Icon--clock:before {
    content: "\e926";
  }
  .Icon--close-alt:before {
    content: "\e927";
  }
  .Icon--close:before {
    content: "\e928";
  }
  .Icon--cloud-alt:before {
    content: "\e929";
  }
  .Icon--cloud:before {
    content: "\e92a";
  }
  .Icon--compass:before {
    content: "\e92b";
  }
  .Icon--compose:before {
    content: "\e92c";
  }
  .Icon--condition-based-maintenance-wrench:before {
    content: "\e92d";
  }
  .Icon--condition-based-maintenance:before {
    content: "\e92e";
  }
  .Icon--connect-parts:before {
    content: "\e92f";
  }
  .Icon--connect:before {
    content: "\e930";
  }
  .Icon--construction-hammer:before {
    content: "\e931";
  }
  .Icon--construction:before {
    content: "\e932";
  }
  .Icon--creditcard:before {
    content: "\e933";
  }
  .Icon--crop:before {
    content: "\e934";
  }
  .Icon--data-boost:before {
    content: "\e935";
  }
  .Icon--device-activity:before {
    content: "\e936";
  }
  .Icon--device-protection:before {
    content: "\e937";
  }
  .Icon--devices-addons:before {
    content: "\e938";
  }
  .Icon--digital-signage-car:before {
    content: "\e939";
  }
  .Icon--digital-signage:before {
    content: "\e93a";
  }
  .Icon--dining:before {
    content: "\e93b";
  }
  .Icon--display:before {
    content: "\e93c";
  }
  .Icon--document-cloud .path1:before {
    content: "\e93d";
    color: rgb(2, 0, 0);
  }
  .Icon--document-cloud .path2:before {
    content: "\e93e";
    margin-left: -1em;
    color: rgb(28, 27, 26);
  }
  .Icon--document-compliance:before {
    content: "\e93f";
  }
  .Icon--document:before {
    content: "\e940";
  }
  .Icon--documents:before {
    content: "\e941";
  }
  .Icon--down-arrow:before {
    content: "\e942";
  }
  .Icon--download:before {
    content: "\e943";
  }
  .Icon--drag-and-drop:before {
    content: "\e944";
  }
  .Icon--drone-camera:before {
    content: "\e945";
  }
  .Icon--duplicate:before {
    content: "\e946";
  }
  .Icon--edit:before {
    content: "\e947";
  }
  .Icon--education-curriculum:before {
    content: "\e948";
  }
  .Icon--education:before {
    content: "\e949";
  }
  .Icon--electric-power:before {
    content: "\e94a";
  }
  .Icon--electric-utility:before {
    content: "\e94b";
  }
  .Icon--email:before {
    content: "\e94c";
  }
  .Icon--energy-science:before {
    content: "\e94d";
  }
  .Icon--energy-utilities:before {
    content: "\e94e";
  }
  .Icon--enterprise:before {
    content: "\e94f";
  }
  .Icon--export:before {
    content: "\e950";
  }
  .Icon--favorite:before {
    content: "\e951";
  }
  .Icon--federal-defense:before {
    content: "\e952";
  }
  .Icon--filter-off .path1:before {
    content: "\e953";
    color: rgb(179, 179, 179);
  }
  .Icon--filter-off .path2:before {
    content: "\e954";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .Icon--filter:before {
    content: "\e955";
  }
  .Icon--financial:before {
    content: "\e956";
  }
  .Icon--fine-art:before {
    content: "\e957";
  }
  .Icon--fingerprint-sensor:before {
    content: "\e958";
  }
  .Icon--fire:before {
    content: "\e959";
  }
  .Icon--fit-to-zone:before {
    content: "\e95a";
  }
  .Icon--flag:before {
    content: "\e95b";
  }
  .Icon--fleet-tracking:before {
    content: "\e95c";
  }
  .Icon--fleet:before {
    content: "\e95d";
  }
  .Icon--flexibility-four-arrows:before {
    content: "\e95e";
  }
  .Icon--flexibility-rectangles:before {
    content: "\e95f";
  }
  .Icon--flexibility-three-arrows:before {
    content: "\e960";
  }
  .Icon--flexibility-two-arrows:before {
    content: "\e961";
  }
  .Icon--fullscreen:before {
    content: "\e962";
  }
  .Icon--gaming:before {
    content: "\e963";
  }
  .Icon--gas:before {
    content: "\e964";
  }
  .Icon--gateway:before {
    content: "\e965";
  }
  .Icon--gift:before {
    content: "\e966";
  }
  .Icon--gifted-data:before {
    content: "\e967";
  }
  .Icon--government:before {
    content: "\e968";
  }
  .Icon--grid-view:before {
    content: "\e969";
  }
  .Icon--group:before {
    content: "\e96a";
  }
  .Icon--growth:before {
    content: "\e96b";
  }
  .Icon--hackers:before {
    content: "\e96c";
  }
  .Icon--healthcare-corporate:before {
    content: "\e96d";
  }
  .Icon--healthcare-general:before {
    content: "\e96e";
  }
  .Icon--history:before {
    content: "\e96f";
  }
  .Icon--home-internet:before {
    content: "\e970";
  }
  .Icon--home:before {
    content: "\e971";
  }
  .Icon--ideas-solutions:before {
    content: "\e972";
  }
  .Icon--in-store-pickup:before {
    content: "\e973";
  }
  .Icon--incoming-call:before {
    content: "\e974";
  }
  .Icon--industry:before {
    content: "\e975";
  }
  .Icon--info:before {
    content: "\e976";
  }
  .Icon--insurance:before {
    content: "\e977";
  }
  .Icon--intelligent-tracking:before {
    content: "\e978";
  }
  .Icon--international-long-distance:before {
    content: "\e979";
  }
  .Icon--international:before {
    content: "\e97a";
  }
  .Icon--iot:before {
    content: "\e97b";
  }
  .Icon--join-call:before {
    content: "\e97c";
  }
  .Icon--k12-education:before {
    content: "\e97d";
  }
  .Icon--kids-stroller:before {
    content: "\e97e";
  }
  .Icon--landscape:before {
    content: "\e97f";
  }
  .Icon--laptop-controls .path1:before {
    content: "\e980";
    color: rgb(0, 0, 0);
  }
  .Icon--laptop-controls .path2:before {
    content: "\e981";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .Icon--laptop-controls .path3:before {
    content: "\e982";
    margin-left: -1em;
    color: rgb(2, 0, 0);
  }
  .Icon--laptop-controls .path4:before {
    content: "\e983";
    margin-left: -1em;
    color: rgb(2, 0, 0);
  }
  .Icon--laptop-controls .path5:before {
    content: "\e984";
    margin-left: -1em;
    color: rgb(2, 0, 0);
  }
  .Icon--laptop-controls .path6:before {
    content: "\e985";
    margin-left: -1em;
    color: rgb(2, 0, 0);
  }
  .Icon--laptop-controls .path7:before {
    content: "\e986";
    margin-left: -1em;
    color: rgb(2, 0, 0);
  }
  .Icon--laptop-controls .path8:before {
    content: "\e987";
    margin-left: -1em;
    color: rgb(2, 0, 0);
  }
  .Icon--laptop-controls .path9:before {
    content: "\e988";
    margin-left: -1em;
    color: rgb(2, 0, 0);
  }
  .Icon--laptop-controls .path10:before {
    content: "\e989";
    margin-left: -1em;
    color: rgb(2, 0, 0);
  }
  .Icon--laptop-gps-tracking:before {
    content: "\e98a";
  }
  .Icon--laptop-settings .path1:before {
    content: "\e98b";
    color: rgb(2, 0, 0);
  }
  .Icon--laptop-settings .path2:before {
    content: "\e98c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .Icon--laptop-settings .path3:before {
    content: "\e98d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .Icon--laptop-trends:before {
    content: "\e98e";
  }
  .Icon--laptop-wireless:before {
    content: "\e98f";
  }
  .Icon--large-plan:before {
    content: "\e990";
  }
  .Icon--law:before {
    content: "\e991";
  }
  .Icon--left-arrow:before {
    content: "\e992";
  }
  .Icon--left-caret:before {
    content: "\e993";
  }
  .Icon--link:before {
    content: "\e994";
  }
  .Icon--list:before {
    content: "\e995";
  }
  .Icon--lmr:before {
    content: "\e996";
  }
  .Icon--loader:before {
    content: "\e997";
  }
  .Icon--location:before {
    content: "\e998";
  }
  .Icon--lock-closed:before {
    content: "\e999";
  }
  .Icon--lock-open:before {
    content: "\e99a";
  }
  .Icon--manufacturing:before {
    content: "\e99b";
  }
  .Icon--map-view:before {
    content: "\e99c";
  }
  .Icon--masonry-view:before {
    content: "\e99d";
  }
  .Icon--media-entertainment:before {
    content: "\e99e";
  }
  .Icon--medium-business:before {
    content: "\e99f";
  }
  .Icon--medium-plan:before {
    content: "\e9a0";
  }
  .Icon--menu:before {
    content: "\e9a1";
  }
  .Icon--microphone:before {
    content: "\e9a2";
  }
  .Icon--minus-large:before {
    content: "\e9a3";
  }
  .Icon--minus-small:before {
    content: "\e9a4";
  }
  .Icon--missed-call:before {
    content: "\e9a5";
  }
  .Icon--mobile-apps:before {
    content: "\e9a6";
  }
  .Icon--mobile-command-center:before {
    content: "\e9a7";
  }
  .Icon--mobile-hotspot:before {
    content: "\e9a8";
  }
  .Icon--mobile-kiosk-info:before {
    content: "\e9a9";
  }
  .Icon--mobile-kiosk-wireless:before {
    content: "\e9aa";
  }
  .Icon--mobile-retail:before {
    content: "\e9ab";
  }
  .Icon--mobile-search:before {
    content: "\e9ac";
  }
  .Icon--mobile-workforce-management:before {
    content: "\e9ad";
  }
  .Icon--modem-router:before {
    content: "\e9ae";
  }
  .Icon--more-horizontal:before {
    content: "\e9af";
  }
  .Icon--move-to:before {
    content: "\e9b0";
  }
  .Icon--multicast:before {
    content: "\e9b1";
  }
  .Icon--multiple-devices:before {
    content: "\e9b2";
  }
  .Icon--music-trumpet:before {
    content: "\e9b3";
  }
  .Icon--music:before {
    content: "\e9b4";
  }
  .Icon--my-account:before {
    content: "\e9b5";
  }
  .Icon--nation-wide:before {
    content: "\e9b6";
  }
  .Icon--network:before {
    content: "\e9b7";
  }
  .Icon--news:before {
    content: "\e9b8";
  }
  .Icon--next:before {
    content: "\e9b9";
  }
  .Icon--night:before {
    content: "\e9ba";
  }
  .Icon--no-fee:before {
    content: "\e9bb";
  }
  .Icon--no-off .path1:before {
    content: "\e9bc";
    color: rgb(179, 179, 179);
  }
  .Icon--no-off .path2:before {
    content: "\e9bd";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .Icon--no-smoking:before {
    content: "\e9be";
  }
  .Icon--no:before {
    content: "\e9bf";
  }
  .Icon--notification:before {
    content: "\e9c0";
  }
  .Icon--notifications-off .path1:before {
    content: "\e9c1";
    color: rgb(179, 179, 179);
  }
  .Icon--notifications-off .path2:before {
    content: "\e9c2";
    margin-left: -1em;
    color: rgb(179, 179, 179);
  }
  .Icon--notifications-off .path3:before {
    content: "\e9c3";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .Icon--notify-me:before {
    content: "\e9c4";
  }
  .Icon--office-phone-system:before {
    content: "\e9c5";
  }
  .Icon--oil-industry:before {
    content: "\e9c6";
  }
  .Icon--on-go-car:before {
    content: "\e9c7";
  }
  .Icon--one-year:before {
    content: "\e9c8";
  }
  .Icon--operational-transformation:before {
    content: "\e9c9";
  }
  .Icon--orders:before {
    content: "\e9ca";
  }
  .Icon--out-of-stock:before {
    content: "\e9cb";
  }
  .Icon--outgoing-call:before {
    content: "\e9cc";
  }
  .Icon--pack-backpack:before {
    content: "\e9cd";
  }
  .Icon--pack-luggage:before {
    content: "\e9ce";
  }
  .Icon--pack-purse:before {
    content: "\e9cf";
  }
  .Icon--pause:before {
    content: "\e9d0";
  }
  .Icon--pets-collar:before {
    content: "\e9d1";
  }
  .Icon--pharmaceutical:before {
    content: "\e9d2";
  }
  .Icon--phone-all-good:before {
    content: "\e9d3";
  }
  .Icon--phone-alt:before {
    content: "\e9d4";
  }
  .Icon--phone-favorite:before {
    content: "\e9d5";
  }
  .Icon--phone-medical:before {
    content: "\e9d6";
  }
  .Icon--phone:before {
    content: "\e9d7";
  }
  .Icon--photo:before {
    content: "\e9d8";
  }
  .Icon--play-alt:before {
    content: "\e9d9";
  }
  .Icon--play-with:before {
    content: "\e9da";
  }
  .Icon--play:before {
    content: "\e9db";
  }
  .Icon--plus-large:before {
    content: "\e9dc";
  }
  .Icon--plus-small:before {
    content: "\e9dd";
  }
  .Icon--police-fleet:before {
    content: "\e9de";
  }
  .Icon--portrait:before {
    content: "\e9df";
  }
  .Icon--previous:before {
    content: "\e9e0";
  }
  .Icon--print:before {
    content: "\e9e1";
  }
  .Icon--professional-services-case:before {
    content: "\e9e2";
  }
  .Icon--professional-services-chart:before {
    content: "\e9e3";
  }
  .Icon--promo-badge .path1:before {
    content: "\e9e4";
    color: rgb(0, 0, 0);
  }
  .Icon--promo-badge .path2:before {
    content: "\e9e5";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .Icon--public-safety:before {
    content: "\e9e6";
  }
  .Icon--public-transportation:before {
    content: "\e9e7";
  }
  .Icon--purchase-data:before {
    content: "\e9e8";
  }
  .Icon--purchases:before {
    content: "\e9e9";
  }
  .Icon--push-to-talk:before {
    content: "\e9ea";
  }
  .Icon--question:before {
    content: "\e9eb";
  }
  .Icon--recycle:before {
    content: "\e9ec";
  }
  .Icon--remind-me:before {
    content: "\e9ed";
  }
  .Icon--remove-item:before {
    content: "\e9ee";
  }
  .Icon--reservation:before {
    content: "\e9ef";
  }
  .Icon--returns:before {
    content: "\e9f0";
  }
  .Icon--rewards:before {
    content: "\e9f1";
  }
  .Icon--right-arrow:before {
    content: "\e9f2";
  }
  .Icon--right-caret:before {
    content: "\e9f3";
  }
  .Icon--risk-monitor:before {
    content: "\e9f4";
  }
  .Icon--rss:before {
    content: "\e9f5";
  }
  .Icon--save:before {
    content: "\e9f6";
  }
  .Icon--scale-alt:before {
    content: "\e9f7";
  }
  .Icon--scale:before {
    content: "\e9f8";
  }
  .Icon--school-notebook:before {
    content: "\e9f9";
  }
  .Icon--search:before {
    content: "\e9fa";
  }
  .Icon--security-alert:before {
    content: "\e9fb";
  }
  .Icon--security-check:before {
    content: "\e9fc";
  }
  .Icon--security-keyhole:before {
    content: "\e9fd";
  }
  .Icon--security-wireless:before {
    content: "\e9fe";
  }
  .Icon--server-search:before {
    content: "\e9ff";
  }
  .Icon--server-stack:before {
    content: "\ea00";
  }
  .Icon--set-fallback-image:before {
    content: "\ea01";
  }
  .Icon--set-gallery-image:before {
    content: "\ea02";
  }
  .Icon--settings:before {
    content: "\ea03";
  }
  .Icon--Share:before {
    content: "\ea04";
  }
  .Icon--shipping:before {
    content: "\ea05";
  }
  .Icon--shopping-bag:before {
    content: "\ea06";
  }
  .Icon--shopping:before {
    content: "\ea07";
  }
  .Icon--signal-broadcast:before {
    content: "\ea08";
  }
  .Icon--sim-card:before {
    content: "\ea09";
  }
  .Icon--small-business:before {
    content: "\ea0a";
  }
  .Icon--small-plan:before {
    content: "\ea0b";
  }
  .Icon--smart-communities:before {
    content: "\ea0c";
  }
  .Icon--smart-lighting:before {
    content: "\ea0d";
  }
  .Icon--smart-meter:before {
    content: "\ea0e";
  }
  .Icon--social-facebook:before {
    content: "\ea0f";
  }
  .Icon--social-instagram:before {
    content: "\ea10";
  }
  .Icon--social-twitter:before {
    content: "\ea11";
  }
  .Icon--social-youtube:before {
    content: "\ea12";
  }
  .Icon--sound:before {
    content: "\ea13";
  }
  .Icon--speed-monitoring:before {
    content: "\ea14";
  }
  .Icon--speed:before {
    content: "\ea15";
  }
  .Icon--sports-bike:before {
    content: "\ea16";
  }
  .Icon--sports-skis:before {
    content: "\ea17";
  }
  .Icon--sports-soccer:before {
    content: "\ea18";
  }
  .Icon--sports-tennis:before {
    content: "\ea19";
  }
  .Icon--start:before {
    content: "\ea1a";
  }
  .Icon--stop-alt:before {
    content: "\ea1b";
  }
  .Icon--stop:before {
    content: "\ea1c";
  }
  .Icon--support-drawer:before {
    content: "\ea1d";
  }
  .Icon--support:before {
    content: "\ea1e";
  }
  .Icon--swipe-left:before {
    content: "\ea1f";
  }
  .Icon--swipe-right:before {
    content: "\ea20";
  }
  .Icon--swipe:before {
    content: "\ea21";
  }
  .Icon--switch:before {
    content: "\ea22";
  }
  .Icon--sync:before {
    content: "\ea23";
  }
  .Icon--tabet-data:before {
    content: "\ea24";
  }
  .Icon--tablet-wireless:before {
    content: "\ea25";
  }
  .Icon--tablet:before {
    content: "\ea26";
  }
  .Icon--tag:before {
    content: "\ea27";
  }
  .Icon--target-goal:before {
    content: "\ea28";
  }
  .Icon--taxes:before {
    content: "\ea29";
  }
  .Icon--tech-laptop:before {
    content: "\ea2a";
  }
  .Icon--tech-phone:before {
    content: "\ea2b";
  }
  .Icon--technology:before {
    content: "\ea2c";
  }
  .Icon--telematics-car:before {
    content: "\ea2d";
  }
  .Icon--temperature:before {
    content: "\ea2e";
  }
  .Icon--template:before {
    content: "\ea2f";
  }
  .Icon--thermostat-tech:before {
    content: "\ea30";
  }
  .Icon--thumbs-down:before {
    content: "\ea31";
  }
  .Icon--thumbs-up:before {
    content: "\ea32";
  }
  .Icon--ticket:before {
    content: "\ea33";
  }
  .Icon--tools:before {
    content: "\ea34";
  }
  .Icon--tooltip:before {
    content: "\ea35";
  }
  .Icon--top-box:before {
    content: "\ea36";
  }
  .Icon--traffic-light:before {
    content: "\ea37";
  }
  .Icon--transportation:before {
    content: "\ea38";
  }
  .Icon--trash:before {
    content: "\ea39";
  }
  .Icon--travel-keys:before {
    content: "\ea3a";
  }
  .Icon--travel-pass:before {
    content: "\ea3b";
  }
  .Icon--trip-planner:before {
    content: "\ea3c";
  }
  .Icon--turnon-off:before {
    content: "\ea3d";
  }
  .Icon--tv:before {
    content: "\ea3e";
  }
  .Icon--unified-comms:before {
    content: "\ea3f";
  }
  .Icon--unlimited-plan:before {
    content: "\ea40";
  }
  .Icon--up-arrow:before {
    content: "\ea41";
  }
  .Icon--uplink:before {
    content: "\ea42";
  }
  .Icon--upload:before {
    content: "\ea43";
  }
  .Icon--utility-grid-management:before {
    content: "\ea44";
  }
  .Icon--video-on-tablet:before {
    content: "\ea45";
  }
  .Icon--voice-hd:before {
    content: "\ea46";
  }
  .Icon--voice-mail:before {
    content: "\ea47";
  }
  .Icon--water-resistant:before {
    content: "\ea48";
  }
  .Icon--water-utility:before {
    content: "\ea49";
  }
  .Icon--wearable:before {
    content: "\ea4a";
  }
  .Icon--weather .path1:before {
    content: "\ea4b";
    color: rgb(0, 0, 0);
  }
  .Icon--weather .path2:before {
    content: "\ea4c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .Icon--weather .path3:before {
    content: "\ea4d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .Icon--weather .path4:before {
    content: "\ea4e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .Icon--weather .path5:before {
    content: "\ea4f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .Icon--weather .path6:before {
    content: "\ea50";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .Icon--weather .path7:before {
    content: "\ea51";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .Icon--weather .path8:before {
    content: "\ea52";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .Icon--weather .path9:before {
    content: "\ea53";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .Icon--weather .path10:before {
    content: "\ea54";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .Icon--weather .path11:before {
    content: "\ea55";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .Icon--weather .path12:before {
    content: "\ea56";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .Icon--weather .path13:before {
    content: "\ea57";
    margin-left: -1em;
    color: rgb(28, 27, 26);
  }
  .Icon--wifi:before {
    content: "\ea58";
  }
  .Icon--wireless-vending:before {
    content: "\ea59";
  }
  .Icon--wireless-video-surveillance:before {
    content: "\ea5a";
  }
  .Icon--zoom-in:before {
    content: "\ea5b";
  }
  .Icon--zoom-out:before {
    content: "\ea5c";
  }
section.extended-bg {
  margin: 0 auto;
  max-width: 1600px !important;
  overflow: hidden;
}
section.extended-bg .Container {
  margin-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: none !important;
  max-width: 1272px !important;
}
section.extended-bg .Container div,
section.extended-bg .Container span,
section.extended-bg .Container p,
section.extended-bg .Container a,
section.extended-bg .Container button {
  font-family: VerizonNHGeDS, Helvetica, Arial, sans-serif;
}
section.extended-bg .Container .u-marginBottom--16,
section.extended-bg .Container .u-marginBottom--xs16 {
  margin-bottom: 16px !important;
}
section.extended-bg .Container .u-marginBottom--24,
section.extended-bg .Container .u-marginBottom--xs24 {
  margin-bottom: 24px !important;
}
section.extended-bg .Container .u-colorSecondary {
  color: #000 !important;
}
section.extended-bg .Container .u-colorPrimary {
  color: #000 !important;
}
section.extended-bg .Container .u-colorRed {
  color: #EE0000 !important;
}
section.extended-bg .Container .u-text--32,
section.extended-bg .Container .u-text--xs32 {
  font-size: 32px;
}
section.extended-bg .Container .u-textLineHeightTight {
  line-height: 1 !important;
}
section.extended-bg .Container .u-text--12,
section.extended-bg .Container .u-text--xs12 {
  font-size: 12px;
}
section.extended-bg .Container .u-text--16,
section.extended-bg .Container .u-text--xs16 {
  font-size: 16px;
}
section.extended-bg .Container .u-textLineHeightNormal {
  line-height: 1.2 !important;
}
section.extended-bg .Container .u-textCenter {
  text-align: center !important;
}
section.extended-bg .Container .u-colorBackgroundPrimary {
  background-color: #000 !important;
}
section.extended-bg .Container .u-colorBackgroundPrimary .u-colorSecondary {
  color: #fff !important;
}
section.extended-bg .Container .u-colorBackgroundPrimary .u-colorPrimary {
  color: #fff !important;
}
section.extended-bg .Container .u-flexAlignItemsCenter,
section.extended-bg .Container .u-flexAlignItemsCenter--xs {
  align-items: center !important;
}
section.extended-bg .Container .u-flexJustifyCenter,
section.extended-bg .Container .u-flexJustifyCenter--xs {
  justify-content: center !important;
}
section.extended-bg .Container .u-flex,
section.extended-bg .Container .u-flex--xs {
  display: flex !important;
}
section.extended-bg .Container .u-flex--md {
  display: flex !important;
}
section.extended-bg .Container .u-flexWrap--md {
  flex-wrap: wrap !important;
}
section.extended-bg .Container .u-flexJustifyCenter--md {
  justify-content: center !important;
}
section.extended-bg .Container .u-paddingRight--0,
section.extended-bg .Container .u-paddingRight--xs0 {
  padding-right: 0 !important;
}
section.extended-bg .Container .u-flexColumn,
section.extended-bg .Container .u-flexColumn--xs {
  flex-direction: column !important;
}
section.extended-bg .Container .u-paddingBottom--16,
section.extended-bg .Container .u-paddingBottom--md16,
section.extended-bg .Container .u-paddingBottom--xs16 {
  padding-bottom: 16px !important;
}
section.extended-bg .Container .u-marginBottom--0,
section.extended-bg .Container .u-marginBottom--xs0 {
  margin-bottom: 0 !important;
}
section.extended-bg .Container .u-marginBottom--48,
section.extended-bg .Container .u-marginBottom--xs48 {
  margin-bottom: 48px !important;
}
section.extended-bg .Container .u-fontDisplay,
section.extended-bg .Container .u-fontDisplayBold,
section.extended-bg .Container .u-fontDisplayLight {
  font-family: VerizonNHGeDS, Helvetica, Arial, sans-serif;
}
section.extended-bg .Container .u-paddingTop--16,
section.extended-bg .Container .u-paddingTop--xs16 {
  padding-top: 16px !important;
}
section.extended-bg .Container .u-paddingTop--32,
section.extended-bg .Container .u-paddingTop--xs32 {
  padding-top: 32px !important;
}
section.extended-bg .Container .u-paddingTop--xs44 {
  padding-top: 44px !important;
}
section.extended-bg .Container .u-paddingTop--64,
section.extended-bg .Container .u-paddingTop--xs64 {
  padding-top: 64px !important;
}
section.extended-bg .Container .u-paddingBottom--64,
section.extended-bg .Container .u-paddingBottom--xs64 {
  padding-bottom: 64px !important;
}
section.extended-bg .Container .u-marginBottom--xs12 {
  margin-bottom: 12px !important;
}
section.extended-bg .Container .u-marginBottom--16,
section.extended-bg .Container .u-marginBottom--xs16 {
  margin-bottom: 16px !important;
}
section.extended-bg .Container .u-paddingBottom--32,
section.extended-bg .Container .u-paddingBottom--xs32 {
  padding-bottom: 32px !important;
}
section.extended-bg .Container .u-text--40,
section.extended-bg .Container .u-text--xs40 {
  font-size: 40px;
}
section.extended-bg .Container .u-text--32,
section.extended-bg .Container .u-text--xs32 {
  font-size: 32px;
}
section.extended-bg .Container .u-text--48,
section.extended-bg .Container .u-text--xs48 {
  font-size: 48px;
}
@media screen and (min-width: 768px) {
  section.extended-bg .Container .u-text--md20 {
    font-size: 20px;
  }
  section.extended-bg .Container .u-text--md48 {
    font-size: 48px;
  }
  section.extended-bg .Container .u-text--md32 {
    font-size: 32px;
  }
  section.extended-bg .Container .u-text--md64 {
    font-size: 64px;
  }
  section.extended-bg .Container .u-paddingTop--md48,
  section.extended-bg .Container .u-paddingY--md48 {
    padding-top: 48px !important;
  }
  section.extended-bg .Container .u-paddingTop--md32,
  section.extended-bg .Container .u-paddingY--md32 {
    padding-top: 32px !important;
  }
  section.extended-bg .Container .u-marginBottom--md24 {
    margin-bottom: 24px !important;
  }
  section.extended-bg .Container .u-marginBottom--md0 {
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 1025px) {
  section.extended-bg .Container .u-paddingTop--lg128,
  section.extended-bg .Container .u-paddingY--lg128 {
    padding-top: 128px !important;
  }
  section.extended-bg .Container .u-paddingTop--lg76,
  section.extended-bg .Container .u-paddingY--lg76 {
    padding-top: 76px !important;
  }
  section.extended-bg .Container .u-text--lg64 {
    font-size: 64px;
  }
  section.extended-bg .Container .u-text--lg96 {
    font-size: 96px;
  }
  section.extended-bg .Container .u-paddingBottom--lg32 {
    padding-bottom: 32px !important;
  }
  section.extended-bg .Container .u-paddingTop--lg32,
  section.extended-bg .Container .u-paddingY--lg32 {
    padding-top: 32px !important;
  }
  section.extended-bg .Container .u-paddingTop--lg64,
  section.extended-bg .Container .u-paddingY--lg64 {
    padding-top: 64px !important;
  }
  section.extended-bg .Container .u-paddingRight--lg28 {
    padding-right: 28px !important;
  }
  section.extended-bg .Container .u-paddingBottom--lg128,
  section.extended-bg .Container .u-paddingY--lg128 {
    padding-bottom: 128px !important;
  }
  section.extended-bg .Container .u-paddingBottom--lg64,
  section.extended-bg .Container .u-paddingY--lg64 {
    padding-bottom: 64px !important;
  }
  section.extended-bg .Container .u-marginBottom--lg64 {
    margin-bottom: 64px !important;
  }
  section.extended-bg .Container .u-text--lg32 {
    font-size: 32px;
  }
  section.extended-bg .Container .u-text--lg24 {
    font-size: 24px;
  }
  section.extended-bg .Container .u-marginBottom--lg16 {
    margin-bottom: 16px !important;
  }
  section.extended-bg .Container .u-marginBottom--lg32 {
    margin-bottom: 32px !important;
  }
  section.extended-bg .Container .u-marginBottom--lg24 {
    margin-bottom: 24px !important;
  }
}
@media screen and (min-width: 1200px) {
  section.extended-bg .Container .u-flexRow--xl {
    flex-direction: row !important;
  }
  section.extended-bg .Container .u-marginBottom--xl0 {
    margin-bottom: 0 !important;
  }
}
section.extended-bg .Container .u-paddingY--md48 {
  padding-bottom: 48px !important;
}
section.extended-bg .Container .u-textLineHeightNormal {
  line-height: 1.2 !important;
}
section.extended-bg .Container .u-paddingLeft--10,
section.extended-bg .Container .u-paddingLeft--xs10 {
  padding-left: 10px !important;
}
section.extended-bg .Container .u-textBold {
  font-weight: 700 !important;
}
section.extended-bg .Container h1,
section.extended-bg .Container h2,
section.extended-bg .Container h3,
section.extended-bg .Container h4,
section.extended-bg .Container h5,
section.extended-bg .Container h6 {
  font-family: VerizonNHGeDS, Helvetica, Arial, sans-serif;
  line-height: 1;
  margin-top: 0;
  width: 100%;
}
section.extended-bg .Container .relatedtopics-vds .tileletGroup {
  /*
                & > div{
                    & > div{
                        &:last-child{
                            display: none;
                        }
                    }
                }*/
}
section.extended-bg .Container .relatedtopics-vds .tileletGroup h3 {
  font-weight: 700 !important;
}
section.extended-bg .Container .u-colorBackgroundSecondary {
  --fed-color-bg: #fff;
  --fed-color-fg-primary: #000;
  --fed-color-fg-secondary: #6f7171;
  --fed-color-fg-brand: #f50a23;
  --fed-color-fg-low-contrast: #d8dada;
}
section.extended-bg .Container .u-colorBackgroundAccent {
  --fed-color-bg: #e00;
  --fed-color-fg-primary: #fff;
  --fed-color-fg-secondary: #f6f6f6;
  --fed-color-fg-brand: #fff;
  --fed-color-fg-low-contrast: #d8dada;
  border-radius: 8px;
}
section.extended-bg .Container .u-colorBackgroundAccent.u-colorSecondary {
  color: #fff !important;
}
section.extended-bg .Container .u-colorBackgroundAccent {
  background-color: #e00 !important;
}
section.extended-bg .Container ol dd,
section.extended-bg .Container ol dt,
section.extended-bg .Container ol li,
section.extended-bg .Container ul dd,
section.extended-bg .Container ul dt,
section.extended-bg .Container ul li {
  margin: 0;
  padding: 0;
  line-height: 1.34;
  margin-bottom: .4375rem;
}
section.extended-bg .Container hr {
  border-top: 1px solid #d8dada;
  width: 200%;
  margin-left: -50%;
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 32px 0;
}
section.extended-bg .Container .page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
section.extended-bg .Container .page-title h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0px;
  line-height: 3.2rem;
}
@media screen and (min-width: 768px) {
  section.extended-bg .Container .page-title h1 {
    font-size: 5rem;
    line-height: 5.3rem;
  }
}
@media screen and (min-width: 991px) {
  section.extended-bg .Container .page-title h1 {
    font-size: 5rem;
    line-height: 6rem;
  }
}
section.extended-bg .Container .page-title p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  section.extended-bg .Container .page-title p {
    font-size: 2rem;
  }
}
section.extended-bg .Container .page-title .title-vds > div > div {
  margin-bottom: 16px !important;
}
section.extended-bg .Container .page-title .title-vds p {
  line-height: 1.75rem !important;
}
section.extended-bg .Container .page-title .bookmark.bookmark-wrapper {
  position: absolute;
}
@media screen and (min-width: 768px) {
  section.extended-bg .Container .page-title .bookmark.bookmark-wrapper {
    top: 10px;
    right: 30px;
  }
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  section.extended-bg .Container .page-title .bookmark.bookmark-wrapper {
    top: 10px;
    right: -10px;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) and (pointer: coarse) {
  section.extended-bg .Container .page-title .bookmark.bookmark-wrapper {
    top: -10px;
    right: -10px;
  }
}
section.extended-bg .Container .section-title h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  section.extended-bg .Container .section-title h2 {
    font-size: 2rem;
  }
}
section.extended-bg .Container .section-title p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0px;
}
section.extended-bg .Container .section-title .btn-vds {
  text-align: center;
}
section.extended-bg .Container .section-title .btn-vds button {
  display: inline-block;
  margin-top: 32px;
}
section.extended-bg .Container .section-title .btn-vds button span {
  font-family: VerizonNHGeTX, Helvetica, Arial, sans-serif;
}
section.extended-bg .Container.overflow {
  overflow: visible;
}
section.extended-bg:not(:last-child) {
  margin-bottom: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 991px) {
  section.extended-bg .Container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1240px) {
  section.extended-bg .Container .relatedtopics-vds .tileletGroup h3 {
    font-size: 16px !important;
  }
}
.u-screenReaderOnly {
  clip: rect(1px, 1px, 1px, 1px) !important;
  border: 0 !important;
  clip-path: inset(50%) !important;
  height: .0625rem !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: .0625rem !important;
}

.Modal-container {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.Modal-container.is-active {
  display: flex;
}
.Modal-container .Modal-overlay {
  background-color: #00000080;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.Modal-container .Modal-overlay.is-active {
  display: block;
  opacity: 1;
}
.Modal-container .Modal {
  width: 90%;
  height: 90%;
  padding: 20px !important;
  display: inline-block;
  max-width: 1280px;
  max-height: 90%;
  animation: modal-down 0.4s ease;
  background-color: #fff;
  flex-flow: column nowrap;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  z-index: 99;
}
.Modal-container .Modal .Modal-content {
  overflow: auto;
  height: 100%;
  scroll-behavior: smooth;
}
.Modal-container .Modal .Modal-close {
  top: 0;
  right: 4px;
  z-index: 10;
  appearance: none;
  border: 0;
  padding: 0;
  position: absolute;
}
.Modal-container .Modal .Modal-close:hover {
  background: #0000;
  color: inherit;
}
.Modal-container .Modal .Modal-close:after {
  background-color: initial;
  color: inherit;
  content: "✕";
  display: inline-block;
  font-family: inherit;
  font-size: 1.125rem;
  padding: 0;
}
.Modal-container .Modal .speed-test-modal {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #1b1d1f;
  display: flex;
  min-height: 700px;
}
@media (min-width: 1200px) {
  .Modal-container .Modal {
    max-height: 768px;
  }
}
.Modal-container {
  position: fixed !important;
  z-index: 11000;
}

