h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: .95;
    font-family: BrandFont-Display, Helvetica, Arial, sans-serif
}

.Grid {
    margin: 0
}

.Modal {
    max-width: 1020px !important
}

.Modal-container {
    height: 100vh;
    position: fixed !important;
    z-index: 9999
}

.Modal-container .Modal {
    background-color: #fff;
    /* width: 932px; */
    padding: 0;
    max-height: 100%;
    overflow-y: auto
}

@media screen and (min-width:768px) {
    .Modal-container .Modal {
        max-width: 60%
    }
}

.Modal-container .Modal .modal-video {
    max-width: 100%;
    max-height: 100vh
}

.Modal-container .Modal .Modal-close {
    z-index: 99;
    color: #747676;
    top: 16px;
    right: 16px
}

.Modal-container .Modal .Modal-close:after {
    font-size: 2rem;
    font-weight: 100;
    color: #000;
    margin-top: -6px
}

.Modal-container .Modal .Modal-overlay {
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.Modal-container .Modal.is-active:not(:focus-within) {
    background-color: #fffffe;
    -webkit-transition: background-color .01s;
    -o-transition: background-color .01s;
    -moz-transition: background-color .01s;
    transition: background-color .01s
}

.modal-btn-component {
    cursor: pointer
}

.modal-button-container {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

@media only screen and (min-width:768px) and (max-width:1200px) {
    .modal-button-container {
        display: block
    }
}

.modal-button-container h3 {
    width: auto
}

@media screen and (max-width:544px) {
    .modal-button-container .modal-button {
        width: 90%;
        font-size: 12px !important
    }
}

.Tab {
    margin-right: 24px !important
}

.Tab a {
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 16px;
    text-align: center;
    color: #747676
}

.Tabs-list {
    height: 48px
}

#modal-tab-separator {
    border-top: 1px solid #d8dada
}

#modal-body-separator {
    border-top: 1px solid #000
}

.lines-control-container {
    margin: 0 auto
}

.hero-prepaid .Grid {
    margin: 0
}

.hero-prepaid {
    max-width: 1440px;
    margin: 0 auto
}

@media screen and (min-width:768px) {
    .hero-prepaid .wrapper-split-content {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 348px;
        grid-template-columns: 1fr 348px
    }
}

@media screen and (min-width:992px) {
    .hero-prepaid .wrapper-split-content {
        -ms-grid-columns: 1fr 488px;
        grid-template-columns: 1fr 488px
    }
}

@media screen and (min-width:768px) {
    .hero-prepaid .bg-left {
        padding-left: 20px !important
    }
}

@media screen and (min-width:1400px) {
    .hero-prepaid .bg-left {
        padding-left: 104px !important
    }
}

.hero-prepaid .Button {
    width: 100%
}

@media screen and (min-width:544px) {
    .hero-prepaid .Button {
        width: auto;
        padding: 12px 24px
    }
}

.hero-prepaid .headline {
    line-height: .925 !important
}

.Form-label {
    position: relative;
    left: 27px;
    z-index: 9;
    color: #fff !important;
    font-weight: 700
}

.pricing-wrapper .Col {
    padding: 0
}

.Form-switch input[type=checkbox]:checked+.Form-toggle {
    background-color: #008330 !important
}

.Form-switch .Form-toggle {
    width: 42px !important;
    background-color: #000 !important
}

.Form-switch {
    position: relative;
    left: -35px;
    bottom: 15px
}

.tabs {
    margin: 0 auto;
    max-width: 1440px
}

.subMenu {
    border-bottom: 1px solid #d8dada
}

.tabs .tab-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 300px;
    height: 44px
}

.termsAndConditions {
    line-height: 0;
    margin-left: 20px
}

.tabs [aria-selected=true] {
    color: #000;
    border-top: none !important;
    border-bottom: 4px solid #e00 !important;
    border: 0
}

.tabs .tab {
    color: #747676;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-top: 4px solid rgba(0, 0, 0, 0);
    margin-top: 1px;
    font-weight: 400;
    font-size: 16px;
    height: 44px
}

.tabs .tab[aria-selected=true] {
    color: #000;
    border-top: 4px solid #d52b1e;
    border-radius: 0;
    font-weight: 700
}

.plan-header {
    min-height: 186px
}

.closeCaret {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.closeCaret,
.openCaret {
    content: "";
    border-right: 2px solid;
    border-bottom: 2px solid;
    position: absolute;
    margin-top: -.5em !important;
    margin-bottom: auto;
    top: 12% !important;
    bottom: 0;
    right: .75em;
    height: .75em;
    width: .75em;
    -webkit-transition: -webkit-transform .45s;
    transition: -webkit-transform .45s;
    -o-transition: -o-transform .45s;
    -moz-transition: transform .45s, -moz-transform .45s;
    transition: transform .45s;
    transition: transform .45s, -webkit-transform .45s, -moz-transform .45s, -o-transform .45s
}

.openCaret {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg)
}

.plan-features-prepaid-mobile {
    border-radius: 8px
}

.Icon-wrapper {
    width: 19px;
    height: 19px;
    display: inline-block;
    margin-right: 6px
}

.border {
    border-top: 1px solid #d8dada
}

.border-links {
    border: 1px solid #d8dada;
    border-top: 0 solid #d8dada
}

.plan-details-bottom {
    position: absolute;
    bottom: 0
}

.plan-features-prepaid {
    border-radius: 8px
}

@media screen and (max-width:544px) {
    .cell-border {
        border: 1px solid #e7e1e1
    }
}

@media screen and (min-width:768px) {
    .cell-border {
        border: 1px solid #e7e1e1
    }
}

@media screen and (max-width:768px) {
    .cell-border-middle {
        border-bottom: 1px solid #e7e1e1;
        border-left: 1px solid #e7e1e1;
        border-right: 1px solid #e7e1e1
    }
}

@media screen and (min-width:768px) {
    .cell-border-middle {
        border-top: 1px solid #e7e1e1;
        border-bottom: 1px solid #e7e1e1;
        border-right: 1px solid #e7e1e1
    }
}

.per-month-byod {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 10px
}

@media screen and (max-width:544px) {
    .per-month-byod {
        margin-bottom: 15px
    }
}

.auto-pay-byod {
    background-color: #e00;
    color: #fff;
    border-radius: 4px
}

.legal {
    color: #747676
}

.disabledIcon {
    color: #aaafb4 !important;
    border-color: #aaafb4 !important
}

.lines-control-container {
    width: 128px;
    border: 1px solid #000;
    border-radius: 19.6px;
    margin: 0
}

@media screen and (min-width:991px) {
    .lines-control-container {
        border-radius: 27px;
        border: 2px solid #000;
        width: 166px
    }
}

.lines-control-container button {
    width: 18px;
    font-weight: 700
}

.plans-modal#compare-modal .Icon--checkmark,
.plans-modal#compare-modal .icon-container,
.plans-modal#compare-modal td .u-text--12 {
    width: 73px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

@media screen and (min-width:991px) {

    .plans-modal#compare-modal .Icon--checkmark,
    .plans-modal#compare-modal .icon-container,
    .plans-modal#compare-modal td .u-text--12 {
        width: 103px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.plans-modal#compare-modal .Icon--checkmark:before,
.plans-modal#compare-modal .icon-container:before,
.plans-modal#compare-modal td .u-text--12:before {
    font-size: 13px;
    font-weight: 700
}

.plans-modal .Modal {
    width: 343px;
    height: 100%;
    margin-top: 120px;
    max-height: -moz-calc(100% - 120px);
    max-height: calc(100% - 120px);
    overflow-y: scroll
}

@media screen and (min-width:768px) {
    .plans-modal .Modal {
        width: 816px;
        margin-top: 160px;
        max-height: -moz-calc(100% - 160px);
        max-height: calc(100% - 160px)
    }
}

.plans-modal .Modal-close:after {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.plans-modal#compare-modal .Modal {
    width: 100%
}

@media screen and (min-width:768px) {
    .plans-modal#compare-modal .Modal {
        max-width: -moz-calc(100% - 20px);
        max-width: calc(100% - 20px)
    }
}

@media screen and (min-width:1200px) {
    .plans-modal#compare-modal .Modal {
        max-width: 1200px
    }
}

.plans-modal#compare-modal .modal-tables {
    border-top: 1px solid #000
}

.plans-modal#compare-modal table {
    padding-bottom: 36px;
    border: none
}

@media screen and (min-width:991px) {
    .plans-modal#compare-modal table {
        border-bottom: 0;
        padding-bottom: 0
    }
}

.plans-modal#compare-modal td {
    border: none
}

.plans-modal#compare-modal .headerTable-cols {
    border: 1px solid #d8dada;
    border-left-width: 0
}

.plans-modal#compare-modal .autopayTable-cols,
.plans-modal#compare-modal .headerTable-col1 {
    border-color: #d8dada;
    border-style: solid;
    border-width: 0 1px 1px 0
}

.plans-modal#compare-modal .autopayTable-col1 {
    border: 1px solid #d8dada;
    border-top: 0 solid #d8dada
}

.plans-modal#compare-modal .autopay-tag {
    background: #008330;
    padding: 1px 3px
}

.plans-modal#compare-modal th {
    background-color: #fff;
    color: #000;
    border: none;
    font-weight: 400
}

@media screen and (min-width:991px) {
    .plans-modal#compare-modal th {
        padding-right: 48px
    }
}

@media screen and (min-width:991px) {
    .plans-modal#compare-modal th:last-child {
        padding-right: 40px
    }
}

@media screen and (max-width:320px) {
    .plans-modal#compare-modal th .price {
        font-size: 20px
    }
}

@media screen and (min-width:991px) {
    .plans-modal#compare-modal [role=rowgroup] {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 66px;
        border-bottom: 1px solid
    }
}

.plans-modal#compare-modal [role=rowgroup] [role=row] {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.plans-modal#compare-modal [role=rowgroup] [role=row]:last-child {
    border-top: 1px solid
}

@media screen and (min-width:991px) {
    .plans-modal#compare-modal [role=rowgroup] [role=row]:last-child {
        border-top: 0
    }
}

@media screen and (min-width:991px) {
    .plans-modal#compare-modal [role=rowgroup] [role=row]:last-child [role=cell] {
        padding-right: 64px
    }
}

@media screen and (min-width:991px) {
    .plans-modal#compare-modal [role=rowgroup] [role=row]:last-child [role=cell]:last-child {
        padding-right: 40px
    }
}

.plans-modal#compare-modal #compare-table {
    border-top: 4px solid #000
}

.plans-modal#compare-modal .thead {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 70px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.plans-modal#compare-modal .thead:nth-child(4) {
    border-bottom: 4px solid #000;
    padding-bottom: 5px;
    padding-top: 5px
}

@media screen and (min-width:991px) {
    .plans-modal#compare-modal .thead {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.plans-modal#compare-modal .Icon--checkmark,
.plans-modal#compare-modal .icon-container,
.plans-modal#compare-modal td .u-text--12 {
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -moz-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media screen and (min-width:991px) {
    .plans-modal#compare-modal td .u-text--12 {
        text-align: center
    }
}

.plans-modal#compare-modal .Icon--unavailable {
    height: 3px;
    width: 10px;
    background-color: #000;
    display: block;
    margin-top: 14%
}

.plans-modal#compare-modal .per-month {
    font-size: 14px
}

.plans-modal#compare-modal .Modal-close-full-btn {
    color: #fff !important
}

.plans-modal#compare-modal .Modal-close-full-btn:after {
    content: none !important
}

@media screen and (max-width:544px) {
    .plans-modal#compare-modal .Modal-close-full-btn {
        width: 100%
    }
}

.plans-modal#compare-modal .plan-desc {
    font-size: 12px;
    min-width: 212px;
    padding-top: 2%;
    text-align: left;
    padding-left: 0;
    padding-bottom: 0
}

@media screen and (max-width:991px) {
    .plans-modal#compare-modal .plan-desc {
        min-width: 125px
    }
}

.plans-modal#compare-modal .font-normal {
    font-weight: 400
}

.plans-modal#compare-modal .height-50 {
    height: 50%
}

.plans-modal#compare-modal .plan-detail-bottom {
    border-bottom: 1px solid #000;
    padding-bottom: 3%
}

.plans-modal#compare-modal .plan-feature-val {
    min-width: 17%;
    padding-right: 0 !important;
    position: relative;
    text-align: left
}

.plans-modal#compare-modal .plan-feature-val p {
    font-weight: 400
}

@media screen and (max-width:991px) {
    .plans-modal#compare-modal .plan-feature-val {
        min-width: 16%
    }
}

@media screen and (min-width:991px) and (max-width:1160px) {
    .plans-modal#compare-modal .plan-feature-val {
        min-width: 16%
    }
}

.plans-modal#compare-modal .name-support {
    font-size: 11px !important;
    min-height: 11px;
    font-weight: 400;
    margin-bottom: 0
}

@media screen and (max-width:991px) {
    .plans-modal#compare-modal .name-support {
        font-size: 9px !important
    }
}

.plans-modal#compare-modal .small-cell {
    width: 49%;
    display: inline-block
}

.plans-modal#compare-modal .small-cell select {
    width: auto
}

.plans-modal#compare-modal .full-title {
    width: 95%;
    display: inline-block;
    margin-bottom: 5px
}

.plans-modal#compare-modal .small-plan-price {
    margin-top: 5px;
    margin-bottom: 5px
}

.plans-modal#compare-modal .small-plan-heading {
    border-top: none !important;
    border-bottom: 4px solid #000
}

.destinations {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px
}

@media screen and (min-width:768px) {
    .destinations {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px
    }
}

.destinations ul {
    margin: 0;
    padding: 0
}

.destinations ul li {
    list-style-type: none;
    font-size: 12px
}