.faqBanner {
    position: relative;
    top: 0;
    left: 0;
}
.banner-container {
    font-family: 'VerizonNHGeDS',NHaasGroteskDSStd-55Rg, sans-serif;
	padding: 15px 2px 15px 15px;
	min-height: 25px;
	display: flex;
	text-align: left;
    max-width: 100%;
    margin: 1rem auto;
    padding-left: 1.25rem;
	align-items: center;
    margin-top: 0.1rem !important;
    margin-bottom: 0.6rem !important;

}
.banner-message {
    width: 50%;
    float: left;
	min-height: 25px;
}
.banner-container .x-button{
    opacity: 0.85;
	position: absolute;
	float: right;
	width: 0.5rem;
	text-decoration: none;
	cursor: pointer;
	font-size: 40px;
	right: 37px;
	height: 50px;
    font-weight:200;
}
.banner-container .bannerButton{
    font-family: 'VerizonNHGeDS',NHaasGroteskDSStd-55Rg, sans-serif;
	font-size: 14px;
    text-decoration: none;
    border-radius: 100px;
    padding: 8px 20px; /*verify the padding */
    margin-left: 5px;
	white-space: nowrap;
}
.bannerButton a{
	font-family: 'VerizonNHGeDS',NHaasGroteskDSStd-55Rg, sans-serif;
    font-weight: bold;
}
a.banner-link,a.banner-link:hover,a.banner-link:focus {
    text-decoration: none !important;
    outline: none !important;
	font-family: 'VerizonNHGeDS',NHaasGroteskDSStd-55Rg, sans-serif;
	font-weight: bold;
}
.banner-icon img{
    position: absolute;
    left: 1.5%;
    width: 22px;
}
.bannerButton:hover:not(:active) {
    outline: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0.0625rem;
    transition: all 0.1s ease-out 0s;
}
.banner-message .banner-title {
    margin: 0 0 0 12px;
    font-weight: 700;
}
.banner-header {
    margin: 0 0 0 12px;
    font-weight: 400;
}
.banner-message .banner-subtitle p,.banner-message p {
    margin: 0 0 0 -1px;
    font-weight: 400;
}

@media (max-width:480px) {
a.banner-link,a.banner-link:hover,a.banner-link:focus {
    text-decoration: none !important;
    outline: none !important;
	font-size: 0.75rem;
    font-family: 'VerizonNHGeTX',Arial, Helvetica, sans-serif;
    font-weight: bold;
   }
.banner-container {
    max-width: 85%;
	flex-wrap: wrap
}
.banner-container .x-button {
	font-size: 39px;
    position: absolute;
    height: 125px;
    right: 30px;
   }
.banner-icon img{
    left: 6%;
	width: 5%;
   }
.banner-message {
    width: 81%;
   }
.banner-container .bannerButton{
    margin: 10px;
    }
}


@media only screen and (min-width: 768px) {
.banner-container {
    margin: 1rem auto 1rem 1rem;
}
}

.faqBanner.background-yellow{
background-color : #fff9de;
        }

.faqBanner.background-blue{
background-color : #e3f2fd;
        }

.faqBanner.background-green{
background-color : #dcf5e6;
        }

.faqBanner.background-brown{
background-color : #ffece0;
        }

@media (max-width: 1200px){
#faqBannerPersonalized{
    width: 96%;
    margin: 0 2%;
   }
 }

@media (max-width: 600px){
#faqBannerPersonalized .faqBanner{
    margin: 0.5rem;
   }
}
