div#sticky-block-nopadding {
    padding: 0px !important;
}

.skill-forward-wounded-warrior-project .fp_body_one_digital-component .ckeditor-content table tbody tr{
    border:none !important;
}
.component-inner .edgar-stock-ticker{
    position:relative !important;
    right: auto !important;
    top: unset !important;
    padding-top: unset !important;
}

@media only screen and (max-width: 767px) {
    .custom-error{
        .cta-btn {
            display: flex;
            flex-direction: column;
            max-width: max-content;
            text-align: center;
        }
    }
}

.sizzle-video_content {
    position: relative;
    z-index: 1;
}
ul.sitemap-menu li span {
    margin-bottom: 1rem!important;
    position: relative;
    display: block;
    font-family: 'VerizonNHGeDS-Bold';
}

.supplychainleader {
    & .align-left {
                @media screen and (max-width: 767px) {
                    margin-right:0 !important;
                }
    }
}

.fp_media_cta_one_digital-component .mediacta.left:has(center) {
    border-radius: 0px;
}
.supplychainleader .align-left+p {
    font-size: 1.5em;
    line-height: 1.2em;
    padding: 10px 20px 0px 20px;
}
.supplychainleader-info {
    top: 40px;
}
@media only screen and (max-width: 430px) {
.supplychainleader-info {
    top: 10px;
}
}

@media (max-width: 430px) {
    #sbs-micro-site-two-column-text .two-cols-onedigital:first-child {
        padding-right: 0px;
    }
}
@media (max-width: 767px) {
    div#sbs-micro-site .media_cta-Mobile .mediacta .media_cta_desc .ckeditor-content p>img {
    height: 60px !important;
    width: 60px !important;
    scale: (2) !important;
    transform: scale(2) !important;
}
        div#sbs-micro-site .media_cta-Mobile .mediacta .media_cta_desc .ckeditor-content p:has(>img){
            display:flex;
        }
}

.parenting-in-a-digital-world .row-block:has(.column-block:nth-child(4)) {
    justify-content: center!important;
}

@media (max-width: 1120px) {
    .row-block:has(.column-block:nth-child(4)) .column-block:first-child p {
        text-align: center !important;
    }
}
